/* ----------------------------------------------------------------
	Canvas: Workspace
	Version: 1.0
-----------------------------------------------------------------*/

:root {
	--themecolor: #267DF4;
	--themecolorrgba: 38, 125, 244;
}

.ls--2 { letter-spacing: -2px }

.bg-theme-light,
.section {
	background-color: rgba(38, 125, 244, 0.05);
	background-color: rgba(var(--themecolorrgba), 0.05);
}

#primary-menu > ul > li > a {
	font-size: 15px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 400;
	text-transform: capitalize;
	letter-spacing: 0;
}

#top-account { right: 10px; }

#top-account a {
	background-color: #267DF4;
	background-color: var(--themecolor);;
	color:#FFF ;
	padding: 10px 14px;
	border-radius: 3px;
}


#top-account a i {
	position: relative;
	top: 2px;
}

#top-account a span {
	font-weight: 400;
	margin-left: 4px;
}

.hero-features {
	transform: translateY(-50%);
	padding: 40px 30px;
	max-width: 80%;
	margin-left: auto;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	border-left: 4px solid rgba(0, 0, 0, .2);
}

.hero-features i {
	font-size: 24px;
	line-height: 1.4;
}

.hero-features h5 {
	font-size: 15px;
	line-height: 1.6;
}

.after-dots:not(:first-child):after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0%;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	font-size: 20px;
	background-color: #000;
	margin-top: -5px;
	margin-left: -5px;
}

.before-heading {
	display: inline-block;
	font-size: 12px;
	font-style: normal;
	background-color: rgba(38, 125, 244, 0.1);
	background-color: rgba(var(--themecolorrgba), .1);
	color: #267DF4;
	color: var(--themecolor);
	padding: 3px 8px;
	border-radius: 2px;
	font-weight: 600;
}

.border-light { border-color: #EEE !important; }

.card { border-radius: 8px; }
.card-img-top {
	border-top-left-radius: calc(8px - 1px);
    border-top-right-radius: calc(8px - 1px);
}

#price-carousel .owl-stage {
	display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.price-list .card-body { padding: 20px 30px !important; }

.price-list .price-title {
	font-size: 48px;
	font-weight: 600;
	color: #267DF4;
	color: var(--themecolor);
}

.price-list .price-title small {
	position: relative;
	font-size: 16px;
	color: #AAA;
	top: -4px;
	margin-left: 6px;
}

.price-list .list-group-item:first-child,
.price-list .list-group-item:last-child { border-bottom: 0; }

.card-img-overlay * { position: relative; }

.card-img-overlay:before {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(4,4,4,.45);
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.owl-carousel .owl-dots .owl-dot {
	width: 20px;
    height: 5px;
    border-radius: 4px;
    transition: all .3s ease-out;
    opacity: .3;
}

.owl-carousel .owl-dots .owl-dot.active { width: 45px; }

#price-carousel .owl-item {
	opacity: 0;
	transform: translateY(20px);
	transition: all .4s .1s ease-out;
}

#price-carousel .owl-item.active {
	opacity: 1;
	transform: translateY(0);
}

#image-carousel { overflow: visible; }

#image-carousel .carousel-column {
	display: flex;
	flex-direction: column;
	flex: 1 0;
	margin: 0;
	padding: 0;
	list-style: none;
}
#image-carousel .column-1 { padding-right: 12px; }
#image-carousel .column-2 { padding-left: 12px; }

#image-carousel .carousel-column-container {
	display: flex;
	flex-direction: row;
}

#image-carousel .carousel-grid-item {
	display: flex;
	flex: 1;
	margin: 0;
	padding: 0;
}

#image-carousel .carousel-grid-item .item {
	flex: 1;
	position: relative;
	width: 100%;
	min-height: 150px;
	margin-bottom: 24px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border-radius: 5px;
	transition: all .2s ease-out;
}

.button:hover,
#top-account:hover a,
#image-carousel .carousel-grid-item:hover a.item {
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
	transform: translateY(-3px);
	opacity: .95;
}

#image-carousel .carousel-grid-item .item blockquote { z-index: 1; }

.img-overlay:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-color: rgba(38, 125, 244, 0.8);
	background-color: rgba(var(--themecolorrgba), 0.8);
}

.testimonials .container:before,
.testimonials .container:after {
	content: "\e7ad";
	font-family: 'font-icons';
	position: absolute;
	top: -38px;
	left: 20px;
	font-size: 80px;
	color: rgba(38, 125, 244, 0.2);
	color: rgba(var(--themecolorrgba), 0.2);
}

.testimonials .container:after {
	content: "\e7ae";
	top: auto;
	left: auto;
	right: 20px;
	bottom: -45px;
}

.testimonials .testi-content p {
	font-style: normal;
	color: #000;
}

.mfp-iframe-holder .mfp-close,
.testi-stars i {
	background-color: #267DF4;
	background-color: var(--themecolor);
	font-size: 14px;
	color: #FFF;
	padding: 1px 5px;
	border-radius: 2px;
}

.feature-box.fbox-plain.fbox-small {
	padding-left: 50px;
	margin-bottom: 40px;
}

.feature-box .fbox-icon { top: 3px; }

.feature-box.fbox-plain.fbox-small h3 {
	text-transform: none;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 0;
}

#top-account a,
.masonry-thumbs a img,
.button { transition: all .2s ease-out; }

.feature-box.fbox-plain.fbox-small p { margin-left: 0; }

.button.button-border {
	border-color: #267DF4;
	border-color: var(--themecolor);
	color: #267DF4;
	color: var(--themecolor);
}

.play-video i {
	position: absolute;
	padding-left: 5px;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	line-height: 81px;
	border-radius: 50%;
	z-index: 1;
	background-color: #267DF4;
	background-color: var(--themecolor);
	text-align: center;
	font-size: 24px;
	color: #FFF;
	margin-top: -40px;
	margin-left: -40px;
	transition: transform .3s ease-out;
	-webkit-backface-visibility: hidden;
}

.play-video:hover i {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.mfp-container { position: fixed; }
.mfp-iframe-holder .mfp-close {
	width: 40px;
	text-align: center;
	font-size: 24px;
	top: -20px;
	right: -20px;
}
.mfp-iframe-holder { padding: 20px; }
.mfp-iframe-holder .mfp-content {
	max-width: 100%;
	height: 100%;
}

#locations-carousel .owl-stage-outer { padding-bottom: 40px  }

#locations-carousel .owl-item.active .card {
	opacity: 1;
	transform: translateY(0px);
}

#locations-carousel.owl-carousel .owl-nav [class*=owl-] {
	opacity: 1;
	background-color: #FFF;
	color: #267DF4;
	color: var(--themecolor);
}

#locations-carousel.owl-carousel .owl-dots {
	position: relative;
    background: #FFF;
    width: 150px;
    padding: 10px;
	margin: 0 auto;
	bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#locations-carousel.owl-carousel .owl-dots .owl-dot { margin: 0 4px; }

.masonry-thumbs iframe { padding: 0 1px 1px 0; }
.masonry-thumbs a img:hover { opacity: .9; }

.ipost .author-image,
.ipost .author-image img {
	width: 50px;
	height: 50px;
}

.ipost .author-meta { margin-top: 24px; }

.ipost .entry-meta li {
	display: block;
	float: none;
    font-size: 14px;
    font-style: normal;
    margin-bottom: 8px;
}

.ipost .entry-meta li:first-child a { color: #222; }

.ipost .entry-meta li:before { display: none; }

.ipost .entry-title h3 {
	font-size: 17px;
	line-height: 1.6;
}

.entry-content p {
	display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
}

#footer .list-unstyled li a {
	opacity: .7;
	color: #FFF;
	font-weight: 300;
}

ul.list-numbers li {
	list-style: decimal inside;
	margin-bottom: 20px;
}

#locations-carousel .card {
	position: relative;
	right: auto;
	margin: 0 auto;
	bottom: 0;
	margin-top: -30px;
	padding: 20px;
}

.footer-img { margin-top: -90px; }

/* Responsive Device less than 768px (.device-sm <)
-----------------------------------------------------------------*/
@media (max-width: 767.98px) {
	#top-account { margin: 29px 0; }
	#top-account a { display: block; }
	#top-account a span {
		display: none;
	}

	.footer-img { margin-top: 0; }
}

/* Responsive Device more than 992px (.device-md >)
-----------------------------------------------------------------*/
@media (min-width: 992px) {

	#top-account { right: 0; }

	#locations-carousel .card {
		opacity: 0;
		position: absolute;
		right: 40px;
		bottom: -30px;
		padding: 20px 30px;
		width: 100%;
		max-width: 320px;
		border: 0;
		border-radius: 4px;
		transform: translateY(20px);
		transition: all .4s .1s ease-out;
	}

	.heading-block h2 {
		font-size: 42px;
		letter-spacing: -1px;
	}

	#locations-carousel.owl-carousel .owl-dots {
		position: absolute;
		top: auto;
		left: 50%;
		bottom: 45px;
		margin-left: -75px;
	}

}

/* ----- | Story-Box | ----- */
.story-box {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	cursor: pointer;
}

.story-box .story-box-image {
	width: 70%;
	height: 500px;
	z-index: 2;
	overflow: hidden;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
}

.story-box .story-box-image img {
	display: block;
	height: auto;
	width: 100%;
	opacity: 1;
	transition: opacity .3s ease;
}

.story-box:hover .story-box-image img {
	opacity: .9;
 }

.story-box .story-box-info {
	box-sizing: border-box;
	width: 50%;
	height: 430px;
	padding: 60px;
	margin: 35px 0 0 -20%;
	background: #fff;
	z-index: 4;
	box-shadow: 0 10px 45px rgba(0,0,0,.1);
	transition: all ease-in .3s;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
}

.story-box.description-left .story-box-info {
	-ms-flex-order: -1;
	order: -1;
	margin: 35px -20% 0 0;
}

.story-box .story-box-info .story-title {
	font-family: 'Playfair Display';
	font-size: 26px;
	line-height: 1.4;
	font-weight: 700;
	letter-spacing: 0;
	color: #1d2c4c;
}

.story-box .story-box-info .story-box-content p {
	font-size: 15px;
	font-weight: 300;
	color: #666;
	line-height: 16px;
}

.story-box .story-box-info .story-box-content a {
	font-size: 16px;
	text-decoration: underline !important;
}

/* ----- Story-Box Responsive ----- */
@media (max-width: 991px) {

	.story-box .story-box-image {
		height: auto;
		width: 100%;
		height: 400px;
		-ms-flex-order: -1;
		order: -1;
	}

	.story-box.description-left .story-box-info {
		-ms-flex-order: -1;
		order: -1;
		margin: 35px -20% 0 0;
	}

	.story-box.description-left .story-box-info { margin: -40px 5% 0; }

	.story-box .story-box-info {
		max-width: 90%;
		height: auto;
		-ms-flex-preferred-size: 90%;
		flex-basis: 90%;
		margin: -40px 5% 0;
	}

	#side-panel-trigger { right: 40px !important; }

	.mobile-side-panel {
		position: absolute;
		display: block;
		top: 26px;
		font-size: 18px;
		color: #222;
		right: 40px;
		padding: 10px;
	}
}


@media (max-width: 767px) {

	.story-box.description-left .story-box-info { margin: -100px 5% 0; }
	.story-box .story-box-info {
		padding: 35px;
		text-align: center;
		margin: -100px 5% 0;
	}
	.customers-count { border-right: none }
}

@media (max-width: 479px) {

	.story-box .story-box-info {
		width: 100%;
		padding: 15px;
		text-align: center;
		margin: -200px 5% 0;
	}
	.story-box.description-left .story-box-info { margin: -200px 5% 0; }

	ul.tab-nav:not(.tab-nav-lg) li a i {display: none;}
}


/* ----- Tab ----- */
ul.tab-nav:not(.tab-nav-lg) { border-bottom: none; }

ul.tab-nav:not(.tab-nav-lg) li {
	float: left;
	border: none;
	height: auto;
	text-align: center;
}

.tabs.tabs-alt ul.tab-nav li.ui-tabs-active a { border: none; }

ul.tab-nav:not(.tab-nav-lg) li a {
	color: #1d2c4c;
	height: auto;
	line-height: 1;
	background-color: transparent;
	font-size: 15px;
	font-weight: 400;
	padding: 0 0 20px 0;
}

ul.tab-nav:not(.tab-nav-lg) li a i {
	display: block;
	font-size: 42px;
	margin: 0 0 17px 0;
	color: var(--themecolor);
}

ul.tab-nav:not(.tab-nav-lg) li.ui-tabs-active a { top: 0; }

ul.tab-nav:not(.tab-nav-lg) li.ui-tabs-active a:after {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
	border-radius: 50%;
	background: var(--themecolor);
}

.tab-container { margin: 30px 0 0; }


/* ----- Tab Responsive ----- */
.acctitle {
    line-height: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #444;
    border-top: 1px dotted #DDD;
    padding: 12px 0 12px 24px;
}
.acc_content { padding: 10px 0 25px; }
.acctitle i {
	color: var(--themecolor);
	font-size: 16px;
	top: 3px;
}

.acctitle i.icon-ok-circle,
.acctitle i.icon-remove-circle { display: none; }
